# IDEA settings folder
.idea/

# My location history
location_history.json

# Other test datasets
datasets/
data/Semantic Location History/2012/2012_MARCH.json
data/Location History.json
data/Semantic Location History/2010/2010_DECEMBER.json
data/Semantic Location History/2010/2010_NOVEMBER.json
data/Semantic Location History/2010/2010_OCTOBER.json
data/Semantic Location History/2010/2010_SEPTEMBER.json
data/Semantic Location History/2011/2011_APRIL.json
data/Semantic Location History/2011/2011_AUGUST.json
data/Semantic Location History/2011/2011_DECEMBER.json
data/Semantic Location History/2011/2011_JULY.json
data/Semantic Location History/2011/2011_JUNE.json
data/Semantic Location History/2011/2011_MAY.json
data/Semantic Location History/2011/2011_NOVEMBER.json
data/Semantic Location History/2011/2011_OCTOBER.json
data/Semantic Location History/2011/2011_SEPTEMBER.json
data/Semantic Location History/2012/2012_AUGUST.json
data/Semantic Location History/2012/2012_DECEMBER.json
data/Semantic Location History/2012/2012_FEBRUARY.json
data/Semantic Location History/2012/2012_JANUARY.json
data/Semantic Location History/2012/2012_JULY.json
data/Semantic Location History/2012/2012_JUNE.json
data/Semantic Location History/2012/2012_MAY.json
data/Semantic Location History/2012/2012_NOVEMBER.json
data/Semantic Location History/2012/2012_OCTOBER.json
data/Semantic Location History/2012/2012_SEPTEMBER.json
data/Semantic Location History/2013/2013_APRIL.json
data/Semantic Location History/2013/2013_FEBRUARY.json
data/Semantic Location History/2013/2013_JANUARY.json
data/Semantic Location History/2013/2013_MARCH.json
data/Semantic Location History/2014/2014_APRIL.json
data/Semantic Location History/2014/2014_AUGUST.json
data/Semantic Location History/2014/2014_DECEMBER.json
data/Semantic Location History/2014/2014_JULY.json
data/Semantic Location History/2014/2014_JUNE.json
data/Semantic Location History/2014/2014_MAY.json
data/Semantic Location History/2014/2014_NOVEMBER.json
data/Semantic Location History/2014/2014_OCTOBER.json
data/Semantic Location History/2014/2014_SEPTEMBER.json
data/Semantic Location History/2015/2015_APRIL.json
data/Semantic Location History/2015/2015_AUGUST.json
data/Semantic Location History/2015/2015_DECEMBER.json
data/Semantic Location History/2015/2015_FEBRUARY.json
data/Semantic Location History/2015/2015_JANUARY.json
data/Semantic Location History/2015/2015_JULY.json
data/Semantic Location History/2015/2015_JUNE.json
data/Semantic Location History/2015/2015_MARCH.json
data/Semantic Location History/2015/2015_MAY.json
data/Semantic Location History/2015/2015_NOVEMBER.json
data/Semantic Location History/2015/2015_OCTOBER.json
data/Semantic Location History/2015/2015_SEPTEMBER.json
data/Semantic Location History/2016/2016_APRIL.json
data/Semantic Location History/2016/2016_AUGUST.json
data/Semantic Location History/2016/2016_DECEMBER.json
data/Semantic Location History/2016/2016_FEBRUARY.json
data/Semantic Location History/2016/2016_JANUARY.json
data/Semantic Location History/2016/2016_JULY.json
data/Semantic Location History/2016/2016_JUNE.json
data/Semantic Location History/2016/2016_MARCH.json
data/Semantic Location History/2016/2016_MAY.json
data/Semantic Location History/2016/2016_NOVEMBER.json
data/Semantic Location History/2016/2016_OCTOBER.json
data/Semantic Location History/2016/2016_SEPTEMBER.json
data/Semantic Location History/2017/2017_APRIL.json
data/Semantic Location History/2017/2017_AUGUST.json
data/Semantic Location History/2017/2017_DECEMBER.json
data/Semantic Location History/2017/2017_FEBRUARY.json
data/Semantic Location History/2017/2017_JANUARY.json
data/Semantic Location History/2017/2017_JULY.json
data/Semantic Location History/2017/2017_JUNE.json
data/Semantic Location History/2017/2017_MARCH.json
data/Semantic Location History/2017/2017_MAY.json
data/Semantic Location History/2017/2017_NOVEMBER.json
data/Semantic Location History/2017/2017_OCTOBER.json
data/Semantic Location History/2017/2017_SEPTEMBER.json
data/Semantic Location History/2018/2018_APRIL.json
data/Semantic Location History/2018/2018_AUGUST.json
data/Semantic Location History/2018/2018_DECEMBER.json
data/Semantic Location History/2018/2018_FEBRUARY.json
data/Semantic Location History/2018/2018_JANUARY.json
data/Semantic Location History/2018/2018_JULY.json
data/Semantic Location History/2018/2018_JUNE.json
data/Semantic Location History/2018/2018_MARCH.json
data/Semantic Location History/2018/2018_MAY.json
data/Semantic Location History/2018/2018_NOVEMBER.json
data/Semantic Location History/2018/2018_OCTOBER.json
data/Semantic Location History/2018/2018_SEPTEMBER.json
data/Semantic Location History/2019/2019_APRIL.json
data/Semantic Location History/2019/2019_AUGUST.json
data/Semantic Location History/2019/2019_DECEMBER.json
data/Semantic Location History/2019/2019_FEBRUARY.json
data/Semantic Location History/2019/2019_JANUARY.json
data/Semantic Location History/2019/2019_JULY.json
data/Semantic Location History/2019/2019_JUNE.json
data/Semantic Location History/2019/2019_MARCH.json
data/Semantic Location History/2019/2019_MAY.json
data/Semantic Location History/2019/2019_NOVEMBER.json
data/Semantic Location History/2019/2019_OCTOBER.json
data/Semantic Location History/2019/2019_SEPTEMBER.json
data/Semantic Location History/2020/2020_APRIL.json
data/Semantic Location History/2020/2020_AUGUST.json
data/Semantic Location History/2020/2020_DECEMBER.json
data/Semantic Location History/2020/2020_FEBRUARY.json
data/Semantic Location History/2020/2020_JANUARY.json
data/Semantic Location History/2020/2020_JULY.json
data/Semantic Location History/2020/2020_JUNE.json
data/Semantic Location History/2020/2020_MARCH.json
data/Semantic Location History/2020/2020_MAY.json
data/Semantic Location History/2020/2020_NOVEMBER.json
data/Semantic Location History/2020/2020_OCTOBER.json
data/Semantic Location History/2020/2020_SEPTEMBER.json
data/Semantic Location History/2021/2021_FEBRUARY.json
data/Semantic Location History/2021/2021_JANUARY.json
data/Semantic Location History/2021/2021_MARCH.json
